<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.demo.mapper.IEmailDao">
    <resultMap id="emailMap" type="com.mybatis.demo.entity.Email">
        <id column="id" property="id" javaType="long"/>
        <result column="content" property="content" javaType="java.lang.String"/>
        <result column="date" property="date" javaType="java.util.Date"/>
    </resultMap>
    <cache/>

    <select id="getAllEmails" resultMap="emailMap" statementType="PREPARED">
        SELECT * FROM email
    </select>

    <select id="getEmailById" parameterType="long" resultType="com.mybatis.demo.entity.Email" statementType="PREPARED">
        SELECT * FROM email where id = #{id}
    </select>

</mapper>